@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body { padding: 10px; }

formly-field-mat-multicheckbox {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}